venv/
env/
*.pyc
__pycache__/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.tmp
*.temp
*.swp
*~
db.sqlite3
*.exe
*.dll
*.so
*.dylib
.env

# Ignore Django migration files
**/migrations/
*.pyc
__pycache__/
